@charset "UTF-8";
body {
    background-color: green;
}
.container {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

.card {
    width: 300px;
    height: 450px;
    border-radius: 20px;
    background: white;
    position: relative;
}
.card p {
    text-align: center;
    font: 150px/440px Times New Roman, serif;
}

div.suit-hearts:before {
    content: "♥";
    font-size: 100px;
    position: absolute;
    top: 10px;
    left: 10px;
    color: red;
}
  
div.suit-hearts:after {
    content: "♥";
    font-size: 100px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: red;
    transform: rotate(180deg);
}
  
div.suit-diamonds:before {
    content: "♦";
    font-size: 100px;
    position: absolute;
    top: 10px;
    left: 10px;
    color: red;
}
  
div.suit-diamonds:after {
    content: "♦";
    font-size: 100px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: red;
    transform: rotate(180deg);
}
  
div.suit-spades:before {
    content: "♠";
    font-size: 100px;
    position: absolute;
    top: 10px;
    left: 10px;
    color: black;
}
  
div.suit-spades:after {
    content: "♠";
    font-size: 100px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: black;
    transform: rotate(180deg);
}
  
div.suit-clubs:before {
    content: "♣";
    font-size: 100px;
    position: absolute;
    top: 10px;
    left: 10px;
    color: black;
}
  
div.suit-clubs:after {
    content: "♣";
    font-size: 100px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: black;
    transform: rotate(180deg);
}
  